@import 'mixins';

header {
	height: 155px;
	background-image: url('../images/bg-header-desktop.svg');
	background-repeat: no-repeat;
	//@include border(red);
	background-color: var(--Desaturated_Dark_Cyan);
}

@media screen and (max-width: 800px) {
	header {
		background-image: url('../images/bg-header-mobile.svg');
		background-position: right center;
		background-size: 100%;
	}
}