@import 'mixins';

main {
    background-color: var(--Light_Grayish_Cyan_Background);
    padding: 3em 0 3em 0;
    position: relative;

    .filter_container {
        //@include border(red);
        border-radius: 1em;
        width: 80%;
        margin: auto;
        background-color: white;
        display: none;
        align-items: center;
        justify-content: space-between;
        padding: 1em 2em;
        position: absolute;
        top: -50px;
        margin: auto;
        left: 7.5%;

        .skills2 {
            //@include border(yellow);
            margin: 0;
            display: flex;
            align-items: center;
            list-style-type: none;
            padding: 0;
        	flex-wrap: wrap;

            li {
                margin: 0.7em 0.7em 0 0;
                padding: 0.5em;
                background-color: var(--Light_Grayish_Cyan_Background);
                color: var(--Desaturated_Dark_Cyan);
                font-size: 0.93333333333333333em;
                display: flex;
                align-items: center;
            }
        }
        .clear {
        	cursor:pointer;
        	color: var(--Desaturated_Dark_Cyan);
        	transition: 0.3s text-decoration;
        }
        .clear:hover {
        	text-decoration: underline;
        }
    }
    .none {
    	display: none;
    }
    
    #none {
    	border: solid;
    	display: none;
    }
    #one {
    	display: flex;
    }
    #two {
    	display: flex;
    }
    #four {
    	display: flex;
    }
    #five {
    	display: flex;
    }
    #six {
    	display: flex;
    }
    #seven {
    	display: flex;
    }
    #eight {
    	display: flex;
    }
    #nine {
    	display: flex;
    }
    #ten {
    	display: flex;
    }
}

.items {
    //@include border(blue);
    //border: solid;
    @include box-shadow(0px, 3px, 7px, var(--Desaturated_Dark_Cyan));

    border-left: 5px solid var(--Desaturated_Dark_Cyan);
    background-color: white;
    justify-content: space-between;
    display: flex;
    padding: 2em;
    width: 80%;
    margin: 2em auto;

    .logo_description {
        //@include border(gray);
        display: flex;
        margin: 0;
        padding: 0;

        .logo {
            //@include border(green);
            width: fit-content;
            height: fit-content;
            margin: 0 1.5em 0 0;

            img {
                width: 100;
            }
        }

        .description {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .logo_name {
                display: flex;
                align-items: center;
                //@include border(red);
                margin: 0.3em 0;
                span {
                    margin-right: 1em;
                }

                .logo_name_span {
                    font-size: 14px;
                    font-weight: bolder;
                    color: var(--Desaturated_Dark_Cyan);
                }

                .new {
                    background-color: var(--Desaturated_Dark_Cyan);
                    color: white;
                    border-radius: 1em;
                    padding: 0.3em 0.7em;
                    text-transform: uppercase;
                    font-size: 0.7em;
                    font-weight: bold;
                }

                .featured {
                    background-color: var(--Very_Dark_Grayish_Cyan);
                    color: white;
                    border-radius: 1em;
                    padding: 0.3em 0.7em;
                    text-transform: uppercase;
                    font-size: 0.7em;
                    font-weight: bold;
                }
            }

            h4 {
                //@include border(orange);
                margin: 0.3em 0;
                font-size: 1.16em;
                cursor: pointer;
                transition: color 0.3s;
            }
            h4:hover {
            	color: var(--Desaturated_Dark_Cyan);
            }

            .time_location {
                margin: 0.3em 0;
                display: flex;
                padding: 0;

                //@include border(violet);
                li:first-child {
                    list-style-type: none;
                }

                li {
                    padding: 0 2em 0 0;
                    color: var(--Dark_Grayish_Cyan);
                    font-size: 0.9333333333333em;
                }
            }
        }
    }

    .skills {
        //@include border(yellow);
        margin: 0;
        display: flex;
        align-items: center;
        list-style-type: none;
        padding: 0;

        li {
            margin: 0.7rem;
            padding: 0.7em;
            background-color: var(--Light_Grayish_Cyan_Background);
            color: var(--Desaturated_Dark_Cyan);
            font-size: 0.93333333333333333em;
            cursor: pointer;
            border-radius: 0.3em;
            transition: background-color 0.3s, color 0.3s;
        }
        li:hover {
        	background-color: var(--Desaturated_Dark_Cyan);
        	color: var(--Light_Grayish_Cyan_Background);
        }
    }
}

@media screen and (max-width: 1000px) {
	main {
		.items {
			flex-direction: column;
			margin-bottom: 60px;
			.logo_description {
				position: relative;
				.logo {
					position: absolute;
					top: -70px;
					img {
						width: 80%;
					}
				}
				.description {
					.logo_name {
						flex-wrap: wrap;
						.logo_name_span {
							font-size: 1.2em;
						}
						.new {
							font-size: 1.09em;
						}
						.featured {
							font-size: 1.09em;
						}
					}
				}
			}
			.skills {
				flex-wrap: wrap;
				border-top: solid 1px;
			}
		}
	}
}