@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap");
:root {
  --Desaturated_Dark_Cyan: hsl(180, 29%, 50%);
  --Light_Grayish_Cyan_Background: hsl(180, 52%, 96%);
  --Light_Grayish_Cyan_Filter_Tablets: hsl(180, 31%, 95%);
  --Dark_Grayish_Cyan: hsl(180, 8%, 52%);
  --Very_Dark_Grayish_Cyan: hsl(180, 14%, 20%);
}

body {
  font-size: 15px;
  font-family: "Spartan", sans-serif;
}

header {
  height: 155px;
  background-image: url("../images/bg-header-desktop.svg");
  background-repeat: no-repeat;
  background-color: var(--Desaturated_Dark_Cyan);
}

main {
  background-color: var(--Light_Grayish_Cyan_Background);
  padding: 3em 0;
}
main .filter_container {
  border: solid red;
  width: 80%;
  margin: auto;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 2em;
}
main .filter_container .skills {
  margin: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
}
main .filter_container .skills li {
  margin: 0 0.7em 0 0;
  padding: 0.7em;
  background-color: var(--Light_Grayish_Cyan_Background);
  color: var(--Desaturated_Dark_Cyan);
  font-size: 0.9333333333em;
}
main .filter_container .skills li .X {
  padding: 0.6em;
  cursor: pointer;
  color: white;
  background-color: var(--Desaturated_Dark_Cyan);
  transition: 0.3s background-color;
}
main .filter_container .skills li .X:hover {
  background-color: var(--Very_Dark_Grayish_Cyan);
}
main .filter_container .clear {
  cursor: pointer;
  color: var(--Desaturated_Dark_Cyan);
  transition: 0.3s text-decoration;
}
main .filter_container .clear:hover {
  text-decoration: underline;
}

.items {
  -webkit-box-shadow: 0px 3px 7px var(--Desaturated_Dark_Cyan);
  -moz-box-shadow: 0px 3px 7px var(--Desaturated_Dark_Cyan);
  box-shadow: 0px 3px 7px var(--Desaturated_Dark_Cyan);
  border-left: 5px solid var(--Desaturated_Dark_Cyan);
  background-color: white;
  justify-content: space-between;
  display: flex;
  padding: 2em;
  width: 80%;
  margin: 2em auto;
}
.items .logo_description {
  display: flex;
  margin: 0;
  padding: 0;
}
.items .logo_description .logo {
  width: fit-content;
  height: fit-content;
  margin: 0 1.5em 0 0;
}
.items .logo_description .logo img {
  width: 100;
}
.items .logo_description .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.items .logo_description .description .logo_name {
  display: flex;
  align-items: center;
  margin: 0.3em 0;
}
.items .logo_description .description .logo_name span {
  margin-right: 1em;
}
.items .logo_description .description .logo_name .logo_name_span {
  font-size: 14px;
  font-weight: bolder;
  color: var(--Desaturated_Dark_Cyan);
}
.items .logo_description .description .logo_name .new {
  background-color: var(--Desaturated_Dark_Cyan);
  color: white;
  border-radius: 1em;
  padding: 0.3em 0.7em;
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: bold;
}
.items .logo_description .description .logo_name .featured {
  background-color: var(--Very_Dark_Grayish_Cyan);
  color: white;
  border-radius: 1em;
  padding: 0.3em 0.7em;
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: bold;
}
.items .logo_description .description h4 {
  margin: 0.3em 0;
  font-size: 1.16em;
}
.items .logo_description .description .time_location {
  margin: 0.3em 0;
  display: flex;
  padding: 0;
}
.items .logo_description .description .time_location li:first-child {
  list-style-type: none;
}
.items .logo_description .description .time_location li {
  padding: 0 2em 0 0;
  color: var(--Dark_Grayish_Cyan);
  font-size: 0.9333333333em;
}
.items .skills {
  margin: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
}
.items .skills li {
  margin: 0.7rem;
  padding: 0.7em;
  background-color: var(--Light_Grayish_Cyan_Background);
  color: var(--Desaturated_Dark_Cyan);
  font-size: 0.9333333333em;
  cursor: pointer;
}

/*# sourceMappingURL=template.css.map */
